{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    CityInteractionsTrustDisappointed
{% endblock %}


{% block content %}
    <style>

        .btn-group fieldset {
            display: flex !important;
        }

        .sv_q_rating_min_text {
            font-style: italic;

        }

        .sv_q_rating_max_text {
            font-style: italic;

        }

        .btn-group fieldset label {
            margin: 5px
        }



    </style>
    <script src="https://unpkg.com/survey-jquery@1.8.70/survey.jquery.min.js"></script>

    <div id="surveyElement" style="display:inline-block;width:100%;"></div>
    <div id="surveyResult"></div>
    <input type="hidden" id="surveyholder" name="surveyholder">
    <script>
        Survey.defaultBootstrapCss.navigationButton = "btn-primary btn-lg";
        Survey
            .StylesManager
            .applyTheme("bootstrap");

        var json = {
            requiredText: '',
            showQuestionNumbers: "off",
            showCompletedPage: false,
            completeText: "Next",
            questions: [

                {
                    type: "matrix",
                    name: "altruism",
                    title: " ",
                    rowsOrder: 'random',
                    titleLocation: "hidden",
                    columns: [
                        {value: 0, text: "No"},
                        {value: 1, text: "Yes"},
                        {value: 999, text: "Hard to say"}],
                    rows: [
                        {
                            value: "donated_money",
                            text: "Have you donated money in the previous 12 months?"
                        },
                        {
                            value: "count_on_relatives",
                            text: "Do you have relatives or friends you can count on to help you whenever needed?"
                        },
                        {
                            value: "help_stranger",
                            text: "Did you help a stranger in the previous 12 months who needed help?"
                        },
                        {
                            value: "self_employed",
                            text: "Are you self-employed?"
                        },
                        {
                            value: "own_business",
                            text: "For those who are not self-employed: Are you planning to start your own business?"
                        },
                        {
                            value: "save_money",
                            text: "Did you save any money in the previous 12 months?"
                        },
                        {
                            value: "fin_help",
                            text: "Did you send help (money or goods) to another individual in the previous 12 months?"
                        },
                        {
                            value: "vote_official",
                            text: "Did you voice your opinion to a public official in the previous 12 months?"
                        },
                        {
                            value: "volunteer",
                            text: "Did you voluntarily devote time to an organization in the previous 12 months?"
                        },
                        {
                            value: "police_confidence",
                            text: "In the city or area where you live, do you have confidence in the local police force?"
                        },
                        {
                            value: "safety",
                            text: "Do you feel safe walking alone at night in the city or area where you live?"
                        },
                        {
                            value: "stolen_money",
                            text: "Has money or property been stolen from you or another household member within the last 12 months?"
                        },
                        {
                            value: "used_trust",
                            text: "Did someone take advantage of your trust in the last 6 months?"
                        },
                        {
                            value: "reciprocated_trust",
                            text: "In the last 6 months, when you trusted  someone, was your trust paid back?"
                        },
                        {
                            value: "disappointed_trust",
                            text: "In the last 6 months, have you disappointed someone who has trusted you? "
                        },
                        {
                            value: "donated_blood",
                            text: "Did you donate blood during the last 6 months?"
                        }
                    ]
                }
            ]
        };

        window.survey = new Survey.Model(json);

        survey
            .onComplete
            .add(function (sender) {
                document
                $('#surveyholder').val(JSON.stringify(sender.data, null, 3))
                $('#form').submit()
                ;
            });

        $("#surveyElement").Survey({model: survey});
        ;
    </script>


{% endblock %}