{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Big5
{% endblock %}


{% block content %}
    <style>
    .sv_main span{word-break: normal!important;
             }
        label.btn.btn-default.btn-secondary.active {
            background: yellow;
            color: black;
        }
         thead tr{position: sticky}
        thead tr th {
            word-break: normal!important;
            font-size: 0.8rem;
        }
        tbody tr{font-size: 1rem!important;}
    </style>


    <div id="surveyElement" style="display:inline-block;width:100%;"></div>
    <div id="surveyResult"></div>
    <input type="hidden" id="surveyholder" name="surveyholder">
    <script>
        Survey.defaultBootstrapCss.navigationButton = "btn-primary btn-lg";
        Survey
            .StylesManager
            .applyTheme("bootstrap");

        var json = {
            requiredText: '',
            showQuestionNumbers: "off",
            showCompletedPage: false,
            completeText: "Далее    ",
            questions: [
                {
                    type: "matrixdropdown",
                    name: "big5",
                    title: "Насколько Вы согласны или не согласны с каждым из следующих утверждений о том, как Вы видите себя? Вам кажется что Вы:",

                    columns: [
                        {
                            name: "col1",
                            titleLocation: 'top',
                            title: "",
                            cellType: "radiogroup",
                            showInMultipleColumns: true,
                            isRequired: true,
                            requiredErrorText: 'Пожалуйста, ответьте на вопрос',
                            choices: [
                                {value: 1, text: "Совершенно не согласен/согласна"},
                                {value: 2, text: "Скорее не согласен/согласна"},
                                {value: 3, text: "Ни то чтобы согласен/согласна – ни то чтобы нет"},
                                {value: 4, text: "Скорее согласен/согласна"},
                                {value: 5, text: "Совершенно согласен/согласна"},
                                {value: 999, text: "Затрудняюсь ответить"}]
                        },
                    ],
                    rows: [
                        {value: 'big5_1', text: ' сдержанный человек'},
                        {value: 'big5_2', text: 'в целом доверчивый человек '},
                        {value: 'big5_3', text: 'склонны к лени '},
                        {value: 'big5_4', text: 'умеете расслабляться, успешно справляетесь со cтрессами'},
                        {value: 'big5_5', text: 'имеете мало творческих увлечений'},
                        {value: 'big5_6', text: 'открытый, общительный человек'},
                        {value: 'big5_7', text: 'склонны находить недостатки в других'},
                        {value: 'big5_8', text: 'тщательно выполняете свою работу'},
                        {value: 'big5_9', text: 'легко выходите из себя'},
                        {value: 'big5_10', text: 'обладаете богатым воображением'},
                        {value: 'big5_11', text: 'добрый, внимательный к окружающим человек'},


                    ]
                }
            ]
        };

        window.survey = new Survey.Model(json);

        survey
            .onComplete
            .add(function (sender) {
                document
                $('#surveyholder').val(JSON.stringify(sender.data, null, 3))
                $('#form').submit()
                ;
            });

        $("#surveyElement").Survey({model: survey});
        ;
    </script>


{% endblock %}
