{% extends "global/Page.html" %}
{% load otree static %}
{% block index %}{% endblock %}
{% block visibletitle %}
    Consent
{% endblock %}
{% block content %}

    <div class="card my-3">
        <div class="card-body">
            <div class="card-text">

                <div>
                    This study is conducted by researchers from the Higher School of Economics, Moscow.


                </div>
                <div>
                    Please read the following information carefully:
                </div>


                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        You must be over 18 years of age to participate in the study.
                    </li>
                    <li class="list-group-item">
                        Your participation is voluntary and you can withdraw from the study at any time.
                    </li>
                    <li class="list-group-item">
                        There will be no financial cost to you for your participation in the study.
                    </li>

                    <li class="list-group-item">
                        If you agree to take part in the study, you are expected to fulfill the obligations associated
                        with the study: you will be required to answer questions posed to you for the duration of the
                        study.


                    </li>
                    <li class="list-group-item">
                        This research does not involve any physical risks. The assignments do not require any special
                        physical or psychological skills or any special knowledge.
                    </li>
                    <li class="list-group-item">
                        During the study, we may ask you to provide some personal information: e.g. your gender,
                        education level, personal income level, etc.
                    </li>


                    <li class="list-group-item">
                        CONFIDENTIALITY: The information you provide will be completely confidential. No personally
                        identifiable information will be presented in published or unpublished works. Non-identifiable
                        information may be published in the public domain.


                    </li>
                    <li class="list-group-item">

                        If you have any questions about this study, please email us at:
                        <a href="mailto:epee@hse.ru" target="_blank"
                           rel="noopener noreferrer">epee@hse.ru</a>.

                    </li>

                </ul>
                <div>
                    <span class="fst-italic fw-bold">
                    If you agree to the terms of this study and want to participate, click "Next".
                    </span>
                </div>
            </div>

        </div>
    </div>
    {% next_button %}
{% endblock %}
