{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Pictures
{% endblock %}


{% block content %}
    <link rel="stylesheet" href="https://rvera.github.io/image-picker/image-picker/image-picker.css">
    <style>
        ul.thumbnails.image_picker_selector p {
            font-weight: bold;
            max-width: 150px;
        }

        ul.thumbnails.image_picker_selector img {
            height: 150px;
        }

        ul.thumbnails.image_picker_selector {
            display: flex;
            align-items: stretch;
        }

        ul.thumbnails.image_picker_selector li {
            flex-grow: 1;
            display: flex;
            justify-content: stretch;
        }

    </style>
    <script src="https://rvera.github.io/image-picker/js/prettify.js"></script>
    <script src="https://rvera.github.io/image-picker/js/jquery.masonry.min.js"></script>
    <script src="https://rvera.github.io/image-picker/js/show_html.js"></script>
    <script src="https://rvera.github.io/image-picker/image-picker/image-picker.js"></script>
    <div class="alert text-center fw-bold font-weight-bold">Now look again at the same five diagrams that show different
        types of society. Please read the descriptions and look at the diagrams and decide which you think best
        describes your <span class="text-danger font-italic">CITY</span>.
    </div>
    <select class="image-picker show-labels" name="income_pyramid_regional">
        <option value=""></option>
        <option data-img-src="/static/global/img/Type_A.png" value="1">
            Type A. A small elite at the top, very few people in the middle and the great mass of people at the bottom.
        </option>
        <option data-img-src="/static/global/img/Type_B.png" value="2">
            Type B. A society like a pyramid with a small elite at the top, more people in the middle, and most at the
            bottom.
        </option>
        <option data-img-src="/static/global/img/Type_C.png" value="3">
            Type C. A pyramid except that just a few people are at the bottom.
        </option>
        <option data-img-src="/static/global/img/Type_D.png" value="4">
            Type D. A society with most people in the middle.
        </option>
        <option data-img-src="/static/global/img/Type_E.png" value="5">
            Type E. Many people near the top, and only a few near the bottom.
        </option>
    </select>
    <script>
        $("select").imagepicker({show_label: true})
    </script>
    {% next_button %}

{% endblock %}
