{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Income Scale
{% endblock %}


{% block content %}
    <style>
        label.btn.btn-default.btn-secondary.active {
            background: yellow;
            color: black;
        }

        .btn-group fieldset {
            display: flex !important;
            flex-direction: column;
            width:100%
        }
.btn-group {
    width: 100%;
}
        label.btn.btn-default.btn-secondary {
            display: flex !important;
            flex-direction: column;
        }

    </style>



    <div id="surveyElement" style="display:inline-block;width:100%;"></div>
    <div id="surveyResult"></div>
    <input type="hidden" id="surveyholder" name="surveyholder">
    <script>
        Survey.defaultBootstrapCss.navigationButton = "btn-primary btn-lg";
        Survey
            .StylesManager
            .applyTheme("bootstrap");

        var json = {
            requiredText: '',
            showQuestionNumbers: "off",
            showCompletedPage: false,
            completeText: "Next",
            questions: [
                {
                    type: "rating",
                    name: "income_scale",
                    title: "In our society there are social groups which tend to be towards the top and groups which tend to be towards the bottom. Below is a scale that runs from top to bottom. Where would you put yourself now on this scale? ",

                    rateMin: 0,
                    rateMax: 10,
                    minRateDescription: "Lowest position ",
                    maxRateDescription: "Highest position"
                },
            ]
        };

        window.survey = new Survey.Model(json);

        survey
            .onComplete
            .add(function (sender) {
                document
                $('#surveyholder').val(JSON.stringify(sender.data, null, 3))
                $('#form').submit()
                ;
            });

        $("#surveyElement").Survey({model: survey});
        ;
    </script>


{% endblock %}
