{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    CityInteractionsTrustDisappointed
{% endblock %}


{% block content %}
    <style>
        label.btn.btn-default.btn-secondary.active {
            background: yellow;
            color: black;
        }

    </style>
    <script src="https://unpkg.com/survey-jquery@1.8.70/survey.jquery.min.js"></script>

    <div id="surveyElement" style="display:inline-block;width:100%;"></div>
    <div id="surveyResult"></div>
    <input type="hidden" id="surveyholder" name="surveyholder">
    <script>
        Survey.defaultBootstrapCss.navigationButton = "btn-primary btn-lg";
        Survey
            .StylesManager
            .applyTheme("bootstrap");

        var json = {
        "elements": [
                 {
            "type": "imagepicker",
            "name": "choosepicture",
            "title": "These five diagrams show different types of society. Please read the descriptions and look at the diagrams and decide which you think best describes Russia:",
            "choices": [
                {
                    "value": "Type A",
                    "imageLink": ""
                },
                {
                    "value": "Type B",
                    "imageLink": ""
                },
                {
                    "value": "Type C",
                    "imageLink": ""
                },
                {
                    "value": "Type D",
                    "imageLink": ""
                },
                {
                    "value": "Type E",
                    "imageLink": ""
                }
            ]
        }
    ]
};

window.survey = new Survey.Model(json);

survey
    .onComplete
    .add(function (sender) {
        document
            .querySelector('#surveyResult')
            .textContent = "Result JSON:\n" + JSON.stringify(sender.data, null, 3);
    });

$("#surveyElement").Survey({model: survey});
    </script>


{% endblock %}
